/* Sets background image for each page */
.background {
    height: 800px;
    width: 100%;
    /* Background image url */
    background-image: url("images/DWrZNO.jpg");
    background-size: cover;
    background-position: center;
}

/* Creates white container to contain the contact info boxes */
#contactContainer {
    background-color: white;
}